<section [id]="SECTION_IDS.contact" class="contact section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>We’re here to help! Reach out with any questions or feedback.</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row g-4 g-lg-5">
      <div class="col-lg-5">
        <div class="info-box" data-aos="fade-up" data-aos-delay="200">
          <h3>Contact Info</h3>
          <p>Contact us today — we’d love to hear from you!.</p>

          <div class="info-item" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-geo-alt"></i>
            </div>
            <div class="content">
              <h4>Our Location</h4>
              <p>Global Equipment Management Ltd</p>
              <p>Yatch Haven, Copse Lane</p>
              <p>Hayling Island, Hampshire - P011 OBF</p>
              <p>United Kingdom</p>
            </div>
          </div>

          <div class="info-item" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-telephone"></i>
            </div>
            <div class="content">
              <h4>Phone Number</h4>
              <p><a href="tel:+447503337188">+44 (0) 750 3337188</a></p>
            </div>
          </div>

          <div class="info-item" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-envelope"></i>
            </div>
            <div class="content">
              <h4>Email Address</h4>
              <p><a href="mailto:richard@gemglobal.org">{{ 'richard@gemglobal.org' }}</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
          <h3>Get In Touch</h3>
          <!--          <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis.</p>-->

          <form [formGroup]="contactUsForm" class="php-email-form" data-aos="fade-up" data-aos-delay="200"
                (ngSubmit)="handleContactFormSubmit()"
          >
            <div class="row gy-4">

              <div class="col-md-6">
                <label for="name" class="required_field_label">Name</label>
                <input id="name" type="text" class="form-control" placeholder="Your Name" formControlName="name"
                       [ngClass]="{
            form_error:
              contactUsForm.get('name')?.invalid &&
              contactUsForm.get('name')?.touched &&
              contactUsForm.get('name')?.errors
          }"
                >
                <div *ngIf="contactUsForm.get('name')?.touched && contactUsForm.get('name')?.invalid"
                     class="text-danger">
                  Name is required.
                </div>
              </div>
              <div class="col-md-6">
                <label for="email" class="required_field_label">Email</label>
                <input
                  id="email"
                  type="email"
                  class="form-control"
                  placeholder="Your Email"
                  formControlName="email"
                  [ngClass]="{
      form_error:
        contactUsForm.get('email')?.invalid &&
        contactUsForm.get('email')?.touched
    }"
                />

                <div *ngIf="contactUsForm.get('email')?.touched && contactUsForm.get('email')?.errors"
                     class="text-danger">
                  <div *ngIf="contactUsForm.get('email')?.errors?.['required']">Email is required.</div>
                  <div *ngIf="contactUsForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="phone" class="required_field_label">Mobile Number</label>
                <input
                  id="phone"
                  type="text"
                  class="form-control"
                  placeholder="Your Mobile Number"
                  formControlName="phone"
                  [ngClass]="{
      form_error:
        contactUsForm.get('phone')?.invalid &&
        contactUsForm.get('phone')?.touched
    }"
                />

                <div *ngIf="contactUsForm.get('phone')?.touched && contactUsForm.get('phone')?.invalid"
                     class="text-danger">
                  <div *ngIf="contactUsForm.get('phone')?.errors?.['required']">Mobile number is required.</div>
                  <div *ngIf="contactUsForm.get('phone')?.errors?.['pattern']">
                    Enter a valid mobile number.
                  </div>
                </div>
              </div>


              <div class="col-md-6">
                <label for="company" class="">Company</label>
                <input id="company" type="text" name="name" class="form-control" placeholder="Your Company"
                       formControlName="company">
              </div>
              <div class="col-md-6">
                <label for="position" class="">Position</label>
                <input id="position" type="text" name="name" class="form-control" placeholder="Your Position"
                       formControlName="position">
              </div>

              <div class="col-md-6 ">
                <label class="">Areas Of Interest</label>

                <div *ngFor="let area of areasOfInterestList">
                  <input
                    type="checkbox"
                    [value]="area"
                    (change)="onCheckboxChange($event)"
                  />
                  {{ area }}
                </div>
              </div>

              <div class="col-12">
                <label for="subject" class="required_field_label">Subject</label>
                <input id="subject" type="text" class="form-control" placeholder="Subject" formControlName="subject"
                       [ngClass]="{
            form_error:
              contactUsForm.get('subject')?.invalid &&
              contactUsForm.get('subject')?.touched &&
              contactUsForm.get('subject')?.errors
          }"
                >
                <div *ngIf="contactUsForm.get('subject')?.touched && contactUsForm.get('subject')?.invalid"
                     class="text-danger">
                  Subject is required.
                </div>
              </div>

              <div class="col-12">
                <label for="message" class="required_field_label">Message</label>
                <textarea
                  id="message"
                  class="form-control"
                  rows="6"
                  placeholder="Message"
                  formControlName="message"
                  [ngClass]="{form_error:contactUsForm.get('message')?.invalid &&contactUsForm.get('message')?.touched}"
                ></textarea>

                <div *ngIf="contactUsForm.get('message')?.touched && contactUsForm.get('message')?.invalid"
                     class="text-danger">
                  Message is required.
                </div>
              </div>


              <div class="col-12 text-center">
                <!--                <div class="loading">Loading</div>-->
                @if(showFormMessage){
                  @if(emailSent){
                    <div class="text-bg-success" style="border-radius: 8px">Your message has been sent. Thank you!</div>
                  } @else {
                    <div class="text-bg-warning" style="border-radius: 8px">Failed! While sending your message. Please try again later. </div>
                  }
                }<br/>
                <button type="submit" class="btn"
                        [disabled]="isSending">{{ isSending ? 'Sending...' : 'Send Message' }}
                </button>
              </div>

            </div>
          </form>

        </div>
      </div>

    </div>

  </div>

</section>
