<app-header [activeSection]="activeSection"></app-header>
<div class="content">
  <app-hero-section></app-hero-section>
  <app-about-us></app-about-us>
  <app-partners-section></app-partners-section>
  <app-cards-section></app-cards-section>
  <app-feature-section></app-feature-section>
  <app-team-section></app-team-section>
  <app-news-and-update></app-news-and-update>
<!--  <app-faq-section></app-faq-section>-->
  <app-contact-section></app-contact-section>
  <app-footer></app-footer>
</div>
