<section [id]="SECTION_IDS.about" class="about section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4 align-items-center justify-content-between">

      <div class="col-xl-5" data-aos="fade-up" data-aos-delay="200">
        <span class="about-meta">ABOUT US</span>
<!--        <h2 class="about-title">Voluptas enim suscipit temporibus</h2>-->
        <p class="about-description">At GEM Ltd, we specialize in solving complex challenges across global shipping, logistics, ports, terminals, and technology. Our multicultural team of experts is dedicated to driving innovation, improving performance, and delivering scalable solutions worldwide.</p>

        <div class="row feature-list-wrapper">
          <div class="col-md-12">
            <ul class="feature-list">
              <li><i class="bi bi-check-circle-fill"></i> The Team benefits from being multicultural, delivering expertise and knowledge
                that’s one step ahead of our competitors.</li>
              <li><i class="bi bi-check-circle-fill"></i> GEM’s organizational structure of linking a wide range of independent consultants
                allows us to be lean and agile in nature while also having the ability to scale to meet
                any-sized projects in any geographical region.</li>
              <li><i class="bi bi-check-circle-fill"></i> GEM focuses on bringing the best of breed industry experts to service an ever-
                changing global shipping sector.</li>
            </ul>
          </div>
        </div>

        <div class="info-wrapper">
          <div class="row gy-4">
            <div class="col-lg-6">
              <div class="profile d-flex align-items-center gap-3">
                <img src="assets/img/richard.png" alt="CEO Profile" class="profile-image">
                <div>
                  <h4 class="profile-name">Richard Butcher</h4>
                  <p class="profile-position">Managing Director</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="contact-info d-flex align-items-center gap-2">
                <i class="bi bi-telephone-fill"></i>
                <div>
                  <p class="contact-label">Call us anytime</p>
                  <p class="contact-number"><a href="tel:+447503337188"> +44 (0) 750 3337188</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6" data-aos="fade-up" data-aos-delay="300">
        <div class="image-wrapper">
          <div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
            <img src="assets/img/hero_img.svg" alt="About" class="img-fluid main-image rounded-4">
          </div>
          <div class="experience-badge floating">
            <h3>40+ <span>Years</span></h3>
            <p>Of Industry Experience</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
